<!-- <html>
    <head></head>
    <body>
        <h1>Edit</h1>
        
        <% for(let i = 0; i < posts.length; i++) { %>
            <form action="editsave" method="POST">
                Title:<br>
                <textarea name="title"><%= posts[i].title %></textarea><br>
                Short Descritption:<br>
                <textarea name="shortbody"><%= posts[i].shortbody %></textarea><br>
                Main Body:<br>
                <textarea name="body"><%= posts[i].body %></textarea><br>
    			<button name="_id" type="submit" value="<%= posts[i]._id %>">Save</button>
    		</form>
        <% } %>        
    </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	.login-form {
		width: 80%;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>
<div class="login-form">
        <h2 class="text-center">Edit article</h2>
        <% for(let i = 0; i < posts.length; i++) { %>
            <form action="editsave" method="post">              
                <div class="form-group">
                    <label for="title">Title of article</label>
                    <input  class="form-control" type="text" name="title" id="title" value=<%= posts[i].title %> ></input>
                </div>
                <div class="form-group">
                    <label for="title">Short body of article</label>
                    <textarea class="form-control" name="shortbody" id="shortbody" rows="5" ><%= posts[i].shortbody %></textarea>
                </div>
                <div class="form-group">
                    <label for="title">Main body of article</label>
                    <textarea class="form-control" name="body" id="mainbody" rows="7" ><%= posts[i].body %> </textarea>
                </div>
                <div class="form-group">
                    <button name="_id" type="submit" class="btn btn-primary btn-block" value="<%= posts[i]._id %>">Save</button>
                </div>    
            </form>
        <% } %>    
</div>
</body>
</html> 