<html>
    <head></head>
    <body>
        <h1>EditPageContent</h1>
        <% for(let i = 0; i < contents.length; i++) { %>
                <form action="savepagecontent" method="POST">
                    Content:<br>
                    <textarea name="content"><%= contents[i].content %></textarea><br>
                    Tag:<br>
                    <textarea name="tag"><%= contents[i].tag %></textarea><br>
                    Page:<br>
                    <textarea name="page"><%= contents[i].page %></textarea><br>
                    <button name="_id" type="submit" value="<%= contents[i]._id %>">Save</button>
                </form>  
        <% } %> 
        ADD page Content
        <form action="addpagecontent" method="POST">
            Content:<br>
            <textarea name="content"></textarea><br>
            Tag:<br>
            <textarea name="tag"></textarea><br>
            Page:<br>
            <textarea name="page"></textarea><br>
            <button  type="submit" >Add</button>
        </form>  
    </body>
</html>