<!-- <html>
    <head></head>
    <body>
        <h1>EditNavBar</h1>
        <% for(let i = 0; i < elements.length; i++) { %>
                <form action="savenavbar" method="POST">
                    elementName:<br>
                    <textarea name="element"><%= elements[i].element %></textarea><br>
                    link:<br>
                    <textarea name="link"><%= elements[i].link %></textarea><br>
                    <button name="_id" type="submit" value="<%= elements[i]._id %>">Save</button>
                </form>  
        <% } %> 
        ADD NAVBAR
        <form action="addnavbar" method="POST">
            elementName:<br>
            <textarea name="element"></textarea><br>
            link:<br>
            <textarea name="link"></textarea><br>
            <button  type="submit" >Add</button>
        </form>  
    </body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<style type="text/css">
	.login-form {
		width: 70%;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
</head>
<body>

        <!-- <form action="addpagecontent" method="POST">
            Content:<br>
            <textarea name="content"></textarea><br>
            Tag:<br>
            <textarea name="tag"></textarea><br>
            Page:<br>
            <textarea name="page"></textarea><br>
            <button  type="submit" >Add</button>
        </form>   -->
<div class="login-form">
        <h2 class="text-center">Add a new link to the navigation bar:</h2>
    <form action="addnavbar" method="POST">
        <div class="form-group">
                <label for="element">Link name:</label>
                <input name="element" class="form-control" id="element"></input>
        </div>
        <div class="form-group">
                <label for="link">Link:</label>
                <input  name="link" class="form-control" id="link"></input>
        </div>
        <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Add</button>
        </div>   
    </form>
        <h2 class="text-center">Edit the navigation bar links</h2>
    <% for(let i = 0; i < elements.length; i++) { %>
        <form action="savenavbar" method="post">              
            <div class="form-group">
                <label for="element">Link name:</label>
                <input type="text" name="element" class="form-control" id="element" value=<%= elements[i].element %>></input>
                <label for="link">Link or name of page:</label>
                <input name="link" class="form-control" id="link" value=<%= elements[i].link %> ></input>
            </div>
            <div class="form-group">
                <button name="_id" type="submit" class="btn btn-primary btn-block" value="<%= elements[i]._id %>">Save</button>
            </div>    
        </form>
    <% } %> 
</div>
</body>
</html>  