<html>
    <head></head>
    <body>
        <h1>Edit</h1>
            <form action="saveprofilechanges" method="POST">
                name:<br>
                <textarea name="name"><%= user.name %></textarea><br>
                email:<br>
                <textarea name="email"><%= user.email %></textarea><br>
    			<button name="_id" type="submit" value="<%= user._id %>">Save</button>
            </form> 
            
            
            <h1>Change Password</h1>
            <form action="changepassword" method="POST">
                oldPassword:<br>
                <textarea name="oldpassword"></textarea><br>
                newPassword:<br>
                <textarea name="newpassword"></textarea><br>
                confirmPassword:<br>
                <textarea name="confirmpswd"></textarea><br>
    			<button name="_id" type="submit" value="<%= user._id %>">Save</button>
    		</form>  
    </body>
</html>