<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <% var flag=true; %>
    <% for(let i = 0; i < contents.length; i++) { %>
      <% if(contents[i].tag=="pagetitle"){ %>
        <%flag=false; %>
        <title><%= contents[i].content %></title>
      <% }else if(i==contents.length-1 && flag){ %><title>..pagetitle</title> <% } %>
    <% } %>
    <%flag=true;%> 
    

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/grayscale.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

      <!-- Navigation -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <% if(isAdmin){ %> 
          <a class="navbar-brand js-scroll-trigger" href="/editpagecontent"><nobr>*EditPageContent*</nobr></a> 
        <% } %>
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li> -->
            <% for(let i = 0; i < elements.length; i++) { %>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="<%= elements[i].link %>"><%= elements[i].element %></a>
              </li>
            <% } %>
            <% if(isAdmin){ %>
              <form class="form-inline d-flex"  action="/navbar/editnavbar" method="GET">
                  <li class="nav-item" >
                    <button name="_id" type="submit" value="" class="btn btn-primary">Edit Nav Bar</button>
                  </li>
              </form>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">           
            <% for(let i = 0; i < contents.length; i++) { %>              
              <% if(contents[i].tag=="headertitle"){ %>
                <%flag=false; %>
                <h1 class="mx-auto my-0 text-uppercase"><%= contents[i].content %></h1>
                <% }else if(i==contents.length-1 && flag){ %><h1 class="mx-auto my-0 text-uppercase">..headertitle</h1><% } %>
            <% } %>
            <%flag=true; %> 
            <% for(let i = 0; i < contents.length; i++) { %>
              <% if(contents[i].tag=="headerdesc"){ %>
                <%flag=false; %>
                <h2 class="text-white-50 mx-auto mt-2 mb-5"><%= contents[i].content %></h2>
              <% }else if(i==contents.length-1 &&  flag){ %><h2 class="text-white-50 mx-auto mt-2 mb-5">..headerdesc</h2><% } %>
            <% } %>
            <%flag=true; %> 
            <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>                         
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <% for(let i = 0; i < contents.length; i++) { %>
              <% if(contents[i].tag=="aboutitle"){ %>
                <%flag=false; %>
                <h2 class="text-white mb-4"><%= contents[i].content %></h2>
              <% }else if(i==contents.length-1 &&  flag){ %><h2 class="text-white mb-4">..aboutitle</h2><% } %>
            <% } %>
            <%flag=true; %> 
            <% for(let i = 0; i < contents.length; i++) { %>
              <% if(contents[i].tag=="aboutdesc"){ %>
                <%flag=false; %>
                <p class="text-white-50"><%= contents[i].content %></p>
              <% }else if(i==contents.length-1 &&  flag){ %><p class="text-white-50">..aboutdesc</p><% } %>
            <% } %>
            <%flag=true; %> 
            
            
          </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
      </div>
    </section>
<!--------------------------------------------------------------
        <h1>Node Blog</h1>
        <a href="/users/registration">CreateUser</a><br>
        <a href="/users/login">LogIn</a><br>
        <a href="../users/logout">Logout</a><br>
        <a href="/users/editprofile">Edit Profile</a><br>
        <a href="../posts/myposts">MyPosts</a><br>
        <a href="../users/userloggedin">LoggedUser</a><br>
        <a href="images/">Images</a><br>
        <% for(let i = 0; i < posts.length; i++) { %>
            <hr>  
            <article>
                <h1><%= posts[i].title %></h1>
                <img src="<%= posts[i].imagename %>" alt="Smiley face" height="100" width="400">
                <p><%= posts[i].shortbody %></p>
                <p><%= posts[i].body %></p>
            </article>
            <form action="/posts/deletepost" method="post">
                <button name="_id" type="submit" value="<%= posts[i]._id %>">Remove</button>
            </form>
            <form action="/posts/editpost" method="post">
                <button name="_id" type="submit" value="<%= posts[i]._id %>">Edit</button>
            </form>
        <% } %> 
        <hr>  
        <form action="/posts/addpost" method="POST" encType="multipart/form-data">
            Title:<br>
            <textarea name="title"></textarea><br>
            Short Description:<br>
            <textarea name="shortbody"></textarea><br>
            Main Body:<br>
            <textarea name="body"></textarea><br>
            <input  type="file" name="image" multiple/></div><br>
            <input type="submit" value="Add Post" />
        </form>

------------------------------------------------>
    <!-- Posts section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">

        <!-- Featured post Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
          </div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
                <% for(let i = 0; i < contents.length; i++) { %>
                  <% if(contents[i].tag=="mainpost"){ %>
                    <%flag=false; %>
                    <h4>Main Story</h4>
                    <p class="text-black-50 mb-0" ><%= contents[i].content %></p>  
                  <% }else if(i==contents.length-1 &&  flag){ %><p class="text-black-50 mb-0" >..mainpost</p> <% } %>
                <% } %>
                <%flag=true; %>                      
            </div>
          </div>
        </div>
        <% for(let i = 0; i < posts.length; i++) { %>
            <% if((i%2)==1){ %>
                <!-- TEXT LEFT -->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0 pt-1 pt-md-1 pt-lg-1">
                  <div class="col-lg-6" style="background-color:#161616">
                    <img class="img-fluid" src="<%= posts[i].imagename %>" alt="" style="width:100%;height:100%; overflow: hidden;">
                  </div>
                  <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white"><%= posts[i].title %></h4>                          
                          <p class="mb-0 text-white-50"><%= posts[i].shortbody %></p>
                          <hr class="d-none d-lg-block mb-0 ml-0">
                          <p class="mb-0 text-white-50"><%= posts[i].dateofcreation.day %> <%= posts[i].dateofcreation.date %>/<%= posts[i].dateofcreation.month %>/<%= posts[i].dateofcreation.year %></p>
                          <% if(isAdmin){ %>
                              <form class="form-inline d-flex" action="/posts/editpost" method="post" style="margin-bottom:5px;margin-top:5px">
                                <button name="_id" type="submit" value="<%= posts[i]._id %>" class="btn btn-primary" >Edit</button>
                              </form>
                              <form class="form-inline d-flex"  action="/posts/deletepost" method="post">
                                <button name="_id" type="submit" value="<%= posts[i]._id %>" class="btn btn-primary">Remove</button>
                              </form>  
                          <% } %>                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>               
            <% }else{ %> 
                <!-- TEXT RIGHT-->
                <div class="row justify-content-center no-gutters pt-1 pt-md-1 pt-lg-1" >
                  <div class="col-lg-6" style="background-color:#161616">
                    <img class="img-fluid" src="<%= posts[i].imagename %>" alt="" style="width:100%;height:100%; overflow: hidden;">
                  </div>
                  <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                      <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white"><%= posts[i].title %></h4>
                          <p class="mb-0 text-white-50"><%= posts[i].shortbody %></p>
                          <hr class="d-none d-lg-block mb-0 mr-0">
                          <p class="mb-0 text-white-50"><%= posts[i].dateofcreation.day %> <%= posts[i].dateofcreation.date %>/<%= posts[i].dateofcreation.month %>/<%= posts[i].dateofcreation.year %></p>
                          <% if(isAdmin){ %>
                            <form class="form-inline d-flex" action="/posts/editpost" method="post" style="margin-bottom:5px;margin-top:5px">
                              <button name="_id" type="submit" value="<%= posts[i]._id %>" class="btn btn-primary" >Edit</button>
                            </form>
                            <form class="form-inline d-flex"  action="/posts/deletepost" method="post">
                              <button name="_id" type="submit" value="<%= posts[i]._id %>" class="btn btn-primary">Remove</button>
                            </form>    
                          <% } %>                     
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
            <% } %> 
        <% } %> 
      </div>      
    </section>
    <% if(isAdmin){ %>
      <!-- New post Section -->
      <section id="signup" class="signup-section">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">

              <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
              <h2 class="text-white mb-5">Create new post</h2>
              <form action="/posts/addpost" method="POST" encType="multipart/form-data">
                  <div class="form-group">
                    <label for="usr">Title of Post:</label>
                    <input name="title" type="text" class="form-control" id="usr">
                  </div>
                  <div class="form-group">
                    <label for="comment">Short body:</label>
                    <textarea name="shortbody" class="form-control" rows="5" id="comment"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="comment">Main body:</label>
                    <textarea name="body" class="form-control" rows="5" id="comment"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="File1">Choose a picture:</label>
                    <input type="file" name="image" class="form-control-file" id="File1">
                  </div>
                  <div class="form-group">
                      <label>Submit</label>
                  </div>
                  <button type="submit" class="btn btn-primary mx-auto">Add post</button>
                  
              </form>
            </div>
          </div>
        </div>
      </section>
      <% } %>



    <!-- Signup Section -->
    <section id="signup" class="signup-section">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">

            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

            <form class="form-inline d-flex" action="/subscribe" method="POST">
              <input type="email" name="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
              <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
            </form>

          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">

        <div class="row">

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Address</h4>
                <hr class="my-4">
                <% for(let i = 0; i < contents.length; i++) { %>
                  <% if(contents[i].tag=="address"){ %>
                    <%flag=false; %>
                    <div class="small text-black-50"><%= contents[i].content %></div>
                  <% }else if(i==contents.length-1 &&  flag){ %><div class="small text-black-50">..address</div> <% } %>
                <% } %>
                <%flag=true; %>                 
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-envelope text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4">
                <div class="small text-black-50">
                    <% for(let i = 0; i < contents.length; i++) { %>
                      <% if(contents[i].tag=="email"){ %>
                        <%flag=false; %>
                        <a href="#"><%= contents[i].content %></a>
                      <% }else if(i==contents.length-1 &&  flag){ %><a href="#">..email</a> <% } %>
                    <% } %>
                    <%flag=true; %> 
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4">
                <% for(let i = 0; i < contents.length; i++) { %>
                  <% if(contents[i].tag=="phone"){ %>
                    <%flag=false; %>
                    <div class="small text-black-50"><%= contents[i].content %></div>
                  <% }else if(i==contents.length-1 &&  flag){ %><div class="small text-black-50">..phone</div><% } %>
                <% } %>
                <%flag=true; %> 
              </div>
            </div>
          </div>
        </div>

        <div class="social d-flex justify-content-center">
          <a href="#" class="mx-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="mx-2">
            <i class="fab fa-github"></i>
          </a>
        </div>

      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; Your Website 2018
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/grayscale.min.js"></script>

  </body>

</html>


