<html>
    <head></head>
    <body>
        <h1>posts</h1>
        <% for(let i = 0; i < posts.length; i++) { %>
            <hr>  
            <article>
            	<h1><%= posts[i].title %></h1>
            	<p><%= posts[i].shortbody %></p>
                <p><%= posts[i].body %></p>
                 <p><%= posts[i].dateofcreation %></p>
                <p><%= posts[i].authorID %></p>
            </article>
        <% } %> 
        <hr>  
    </body>
</html>