<html>
    <head></head>
    <body>
        <h1>Users</h1>
        <% for(let i = 0; i < users.length; i++) { %>
            <hr>  
            <article>
            	<h1><%= users[i].name %></h1>
            	<p><%= users[i].email %></p>
                <p><%= users[i].password %></p>
            </article>
        <% } %> 
        <hr>  
    </body>
</html>